extends layout

block content
    p
        label(for="requests") Requests list
        div(id="requests")
            each request in requests
                div
                    a(href='/requests/' + request.id class="main_request")
                        div=request.subject
                        div=request.description
                        div=request.user
                        div=request.priority
                        div=request.status
